.cards {
  position: relative;
  margin: 0 auto;
  .card {
    margin-top: 30px;
    border: 1px solid $light;
    border-radius: 3px;
    padding: 147px 15px 48px;
    position: relative;
    overflow: hidden;
    &--icon {
      font-size: 76px;
      display: block;
      color: $primary;
      position: absolute;
      top: 35px;
      left: 50%;
      transform: translate(-50%, 0);
    }
    &--icon,
    &--vertical_icon,
      {
      top: 0;
      bottom: 0;
      height: 80px;
      margin: auto;
    }
    &--title {
      font-size: 20px;
      text-align: center;
      color: $dark;
    }
    &--text {
      font-size: 16px;
      text-align: center;
      color: theme-color("grey");
      padding-top: 14px;
      line-height: 23px;
    }
    &--footer {
      padding-top: 38px;
      text-align: center;
    }
    .card--more {
      a {
        color: theme-color("primary");
      }
    }
  }
  .-colored.card {
    border: none;
    padding: 127px 5px 38px 23px;
    &.lazy-loading {
      padding: 17px 5px 38px 23px;
    }
    .card--icon {
      top: 20px;
      left: 55px;
    }
    .card--title {
      color: #fff;
      font-weight: 600;
      text-align: left;
    }
    .card--text {
      color: #fff;
      text-align: left;
    }
    .card--footer {
      text-align: left;
      padding-top: 28px;
    }
    .card--more {
      a {
        color: #fff;
      }
    }
    &.colored_primary {
      background-color: theme-color("primary");
    }
    &.colored_secondary {
      background-color: theme-color("secondary");
    }
  }
}

.cards {
  .card {
    @media only screen and (max-width: map-get($grid-breakpoints, xl)) {
      &--vertical_icon, &--icon {
        top: 30px;
        bottom: auto;
      }
    }
    @media only screen and (max-width: map-get($grid-breakpoints, lg)) {
      padding: 107px 15px 28px;
      &--icon {
        font-size: 66px;
        top: 15px;
      }
      &--footer {
        padding-top: 20px;
      }
      &.-colored {
        .card--icon {
          top: 15px;
          font-size: 66px;
        }
      }
    }
    @media only screen and (max-width: map-get($grid-breakpoints, md)) {
      &.-colored {
        border: none;
        padding: 107px 13px 38px 13px;
        &.lazy-loading {
          padding: 17px 13px 38px 13px;
        }
        .card--icon {
          left: 50%;
          transform: translate(-50%, 0);
          margin-left: 0;
        }
        .card--title {
          text-align: center;
        }
        .card--text {
          text-align: center;
        }
        .card--footer {
          text-align: center;
          padding-top: 20px;
        }
        .card--vertical_icon {
          margin-bottom: 30px;
        }
      }
    }
  }
}

@supports (display:grid) {
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: 1rem;
    margin: 0;
  }
  .card {
    margin-top: 0;
  }
}

.cards {
  &.-shadowed {
    .card {
      border: 0;
      box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
      &:hover {
        box-shadow: 0 5px 40px -20px rgba(0, 0, 0, 0.85);
        &.-colored {
          filter: brightness(95%);
        }
      }
    }
  }
}
